body{
	background-image:url("bg.1.png");
	background-size:cover;
}

.heading{
	text-align:center;
	margin:0 10px;
	font-size:29px;
	color:black;
	line-height:3;
	font-family:Cursive;
	text-shadow: 2px 2px 2px skyblue;
}		
	
.p{
	text-align:center;
	font-size:25px;
	color:black;
	padding:16px 0;
	word-spacing:3px;
	font-family:Cursive;
}

#f-image img
{
	border-radius:20px 20px 20px 20px;
	-moz-border-radius:20px 20px 20px 20px;
	-webkit-border-radius:20px 20px 20px 20px;
	height:240px;
	width:290px;
	margin:0 36px;
	float:left;
}